@import "./../../node_modules/antd/dist/antd.min.css"; 

.ant-row-flex-middle {
    align-items: flex-start !important;
}

#networks .container{
    padding-left: 0 !important;
}

.ant-layout-header {
    padding: 0 !important;  
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 50px !important;  
    width: 75% !important;
    height: 100% !important;
}

.logo img {
    height: 80% !important;
    display: block;
}

.ant-alert {
    padding: 15px 24px !important;
}

.ant-alert p{
   margin-bottom: 0;
}

.no-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.warning-message {
    background: #56bcc5;
    color: #353535;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 25px;
}

.warning-modal {
    z-index: 999;
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.coinbase-instructions-image-holder {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.coinbase-instructions-image-holder img {
    max-width: 100%;
}

.modal-content {
    font-size: 20px;
    max-width: 60%;
    min-width: 50px;
    min-height: 50px;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 0 5px #353535;
    background-color: white;
}

.confirm-warning {
    width: 200px;
    height: 50px;
    display: block;
    margin: auto;
}

.ant-btn:hover {
    background-color: #334cd0;
}